@model IEnumerable<EmployeeControl.Models.EmployeeDayStatus>

@{
    ViewData["Title"] = "Index";
}



<p>
    <a asp-action="Create">Start Working</a>
    
</p>
<table class="table" style="color:white">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.CheckIn)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.CheckOut)
            </th>

            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
          

            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CheckIn)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CheckOut)
            </td>

            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            

            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">End Work</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
